<div class="modal hide fade search-criteria">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Search Filters</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="filter-content">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="input-append span1 hide">
            <input class="filter-index" type="text" placeholder="index...">
            <button class="btn filter-killer" type="button"><i class="icon-fire"></i></button>
        </div>
        
        <a class="btn toggle-filter"><i class="icon-filter"></i> <span>Filter</span></a>
        <button class="btn btn-primary search-report"><i class="icon-search icon-white"></i> Search</button>
    </div>
</div>    
