<!-- top nav -->
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
            <a class="brand">Transactions</a>
            <div class="pull-right">
                <div class="navbar-search">
                    <div class="input-prepend input-append" style="margin-bottom: 5px">
                        <div class="btn-group" style="margin-top: 0">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Client <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1"><i class="icon-ok"></i> Client</a></li>
                                <li><a tabindex="-1"><i class="icon-ok icon-white"></i> Corporate Action</a></li>
                                <li><a tabindex="-1"><i class="icon-ok icon-white"></i> Depository</a></li>
                                <li><a tabindex="-1"><i class="icon-ok icon-white"></i> Transaction</a></li>
                            </ul>
                        </div>
                        <input id="appendedPrependedDropdownButton" type="text" placeholder="Reference ID">
                        <button class="btn btn-primary"><i class="icon-search icon-white"></i></button>
                    </div>
                </div>

                <div class="btn-group user-guide">
                    <button type="button" class="btn .btn-link" title="User Guide"><i class="icon-question-sign .icon-white"></i></button>
                    <button type="button" class="btn .btn-link" title="My Settings"><i class="icon-wrench .icon-white"></i></button>
                </div>
            </div>
    </div>
</div>