####################
## Ignore test data
####################

response.js
concatenated*
api/src/main/db/data/*.json
api/src/main/db/data/*.export
api/src/main/db/data2/data/*.export


#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

############
## Maven
############

target/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

####################################
## Sublime project and workspace
####################################

*.sublime-project
*.sublime-workspace

####################################
## Defaults
####################################

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

