<!-- search menu -->
<div class="container-fluid">
    <div class="well well-small">
        <div class="search-options">
            <button class="btn btn-info add-filters"><i class="icon-filter icon-white"></i> Add Filter</button>
            <button class="btn btn-primary report-search"><i class="icon-search icon-white"></i> Search</button>
            <div class="pull-right">
                <div class="preferences"></div>
                <div class="btn-group">
                    <button class="btn report-settings" title="Customize Results"><i class="icon-th-list"></i></button>
                    <button type="button" class="btn" title="Export"><i class="icon-download-alt"></i></button>
                    <button type="button" class="btn" title="Schedule"><i class="icon-time"></i></button>
                    <button type="button" class="btn" title="Inbox"><i class="icon-envelope .icon-white"></i> <span class="badge badge-important" style="padding: 0 4px;">3</span></button>
                </div>
            </div>
        </div>
        <div class="filter-status">
        </div>
    </div>
    <div class="filter-collapse pull-right" style=".margin-left: 50%; .margin-left: 15px; margin-right: 15px; margin-top: -25px; margin-bottom: 5px;">
        <a class="filters-toggle btn btn-link" style="line-height: 10px;"><i class="icon-chevron-up"></i></a>
    </div>
</div>