<div class="">
    <div class="input-prepend input-append">
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Client <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a tabindex="-1">Client</a></li>
                <li><a tabindex="-1">Corporate Action</a></li>
                <li><a tabindex="-1">Depository</a></li>
                <li><a tabindex="-1">Transaction</a></li>
            </ul>
        </div>
        <input class="lookup" type="text" placeholder="Enter country..." rel="tooltip" title="Enter country code to search">
        <button class="btn add-security" type="button" rel="tooltip" title="first tooltip"><i class="icon-search"></i></button>
    </div>

    <div class="input-append">
        <input class="lookup" type="text" placeholder="Enter country..." rel="tooltip" title="Enter country code to search">
        <div class="btn-group">
            <button class="btn add-security" type="button" rel="tooltip" title="first tooltip"><i class="icon-search"></i></button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">Client <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a tabindex="-1">Client</a></li>
                <li><a tabindex="-1">Corporate Action</a></li>
                <li><a tabindex="-1">Depository</a></li>
                <li><a tabindex="-1">Transaction</a></li>
            </ul>
        </div>
    </div>

    <div class="input-append">
        <input class="lookup" type="text" placeholder="Enter country..." rel="tooltip" title="Enter country code to search">
        <button class="btn add-security" type="button" rel="tooltip" title="first tooltip"><i class="icon-plus"></i></button>
    </div>
    <div class="">
        <table class="table table-hover table-condensed">
            <thead>
                <tr><th>Code</th><th>Description</th><th></th></tr>
            </thead>
            <tbody>
                <tr><td>JP</td><td>JAPAN</td><td class="right-align"><i class="icon-remove-sign remove-security"></i></td></tr>
                <tr><td>HK</td><td>HONG KONG</td><td class="right-align"><i class="icon-remove-sign remove-security"></i></td></tr>
                <tr><td>UA</td><td>UKRAINE</td><td class="right-align"><i class="icon-remove-sign remove-security"></i></td></tr>
                <tr><td>US</td><td>UNITED STATES</td><td class="right-align"><i class="icon-remove-sign remove-security"></i></td></tr>
            </tbody>
        </table>
    </div>                            
</div>                          
