<div class="account-list">
	<div class="scrollable">
		<table class="table table-condensed table-hover table-striped">
			<thead>
				<tr><th class="span1 sort-number">Number<span class="sort"></span></th><th class="sort-name">Name<span class="sort"></span></th><th style="text-align:center"><a class="select-all">Select All</a> | <a class="select-none">None</a></th></tr>
			</thead>
			<tbody>
				<tr class="filter-inline info">
					<td><input class="account-number" type="text" placeholder="acct number" style="width:100px"/></td>
					<td><input class="account-name" type="text" placeholder="account name"/></td>
					<td style="text-align:center">
						<div class="btn-group" data-toggle="buttons-radio">
							<button type="button" class="btn btn-mini selections-both active"><i class="icon-minus"></i></button>
							<button type="button" class="btn btn-mini selections-on"><i class="icon-ok"></i></button>
							<button type="button" class="btn btn-mini selections-off"><i class="icon-remove"></i></button>
						</div>						
					</td></tr>
			</tbody>
		</table>
	</div>
</div>
<div class="account-pagination">
</div>