<% if (totalPages > 0) {%>
<div class="pagination pagination-centered" style="margin-bottom:0px">
    <ul>
        <li><a class="first">&laquo;</a></li>
        <li><a class="prev">&lsaquo;</a></li>
    </ul>
    <select class="pageNumber" style="width:auto; vertical-align:top; margin-bottom:0px">
        <% var i; for (i=1; i <= totalPages; i++) { %>
        <% if (currentPage === i) { %>
        <option selected="selected"><%= i%></option>
        <% } else { %>
        <option><%= i%></option>
        <% } %>
        <% } %>
    </select>
    <ul>
        <li><a class="next">&rsaquo;</a></li>
        <li><a class="last">&raquo;</a></li>
    </ul>
</div>
<% } %>