<!-- <div class="dropdown">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-filter"></i>
        <span class="filter-name">Select</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <div class="row-fluid" style=".width: 400px;">
                <ul class="unstyled span4">
                    <li><a href="#">test1-1</a></li>
                    <li><a href="#">test1-2</a></li>
                    <li><a href="#">test1-3</a></li>
                </ul>
                <ul class="unstyled span4">
                    <li><a href="#">test2-1</a></li>
                    <li><a href="#">test2-2</a></li>
                    <li><a href="#">test2-3</a></li>
                </ul>
                <ul class="unstyled span4">
                    <li><a href="#">test3-1</a></li>
                    <li><a href="#">test3-2</a></li>
                    <li><a href="#">test3-3</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div> -->
<div class="dropdown">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-filter"></i>
        <span class="filter-name">Select</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"></ul>
</div>
