<div>
    <div class="input-append">
        <input class="lookup" type="text" placeholder="Search for security..." rel="tooltip" title="Enter security id to search">
        <button class="btn add-security" type="button" rel="tooltip" title="Add security"><i class="icon-plus"></i></button>
    </div>
    <div class="" style="margin-top:12px">
        <table class="table table-hover table-condensed">
        <tbody>
        <tr><td>0015594</td><td style="text-align:center"><a rel="tooltip" title="Remove"><i class="icon-remove-sign"></i></a></td></tr>
        <tr><td>0066985</td><td style="text-align:center"><a rel="tooltip" title="Remove"><i class="icon-remove-sign"></i></a></td></tr>
        <tr><td>0067173</td><td style="text-align:center"><a rel="tooltip" title="Remove"><i class="icon-remove-sign"></i></a></td></tr>
        <tr><td>0067249</td><td style="text-align:center"><a rel="tooltip" title="Remove"><i class="icon-remove-sign"></i></a></td></tr>
        <tr><td>0067256</td><td style="text-align:center"><a rel="tooltip" title="Remove"><i class="icon-remove-sign"></i></a></td></tr>
        </tbody>
        </table>
    </div>
</div>
