<div class="location-lookup control-group">
    <div class="controls">
        <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-globe"></i></span>
            <input class="lookup" type="text" placeholder="Enter location..." rel="tooltip" title="Enter location for search">
            <button class="btn add-country" type="button" rel="tooltip" title="click to add"><i class="icon-plus"></i></button>
        </div>
        <span class="help-inline hide">Invalid location code</span>
    </div>
</div>
