<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
        <select style="width: auto">
            <option value="today">Today</option>
            <option value="yesterday">Yesterday</option>
            <option value="last7days">Last 7 Days</option>
            <option value="lastweek">Previous Week (Mon-Fri)</option>
            <option value="lastmonth">Previous Month</option>
            <option value="customdate">Custom Date</option>
        </select>
        </div>
    </div>
<!--     
    <div class="control-group">
        <div class="control-label">
            <label>From</label>
        </div>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input class="fromDate span2" type="text" value="<%= moment(fromDate).format('L') %>">
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>To</label>
        </div>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input class="toDate span2" type="text" value="<%= moment(toDate).format('L') %>">
            </div>

        </div>
    </div>
 -->
     <div class="control-group">
        <div class="control-label">
            <label>From</label>
        </div>
        <div class="controls">
            <input class="fromDate span2" type="text" value="<%= moment(fromDate).format('L') %>">
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>To</label>
        </div>
        <div class="controls">
            <input class="toDate span2" type="text" value="<%= moment(toDate).format('L') %>">
        </div>
    </div>

</form>
